.cartProduct {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 15px;
}

.cartProduct img {
  width: 300px;
  object-fit: contain;
}

.cartProduct__info {
  margin-top: 20px;
}

.cartProduct__title {
  padding-bottom: 5px;
}

.cartProduct__rating {
  display: flex;
  flex-direction: row;
}

.cartProduct__removeButton {
  padding: 3px;
  margin-top: 6px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
