.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.signin__image {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signin__border {
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  width: 350px;
  height: max-content;
  padding: 26px;
}

.signin__border h1 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}

.sigin__form {
  display: flex;
  flex-direction: column;
}

.sigin__form label {
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  margin-top: 10px;
}

.sigin__input {
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
}

.sigin__form button {
  background-color: #f3cb69;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  height: 30px;
  cursor: pointer;
}

.sigin__form p {
  color: #a31616;
}

.sigin__form p::before {
  display: inline;
  content: '⚠ ';
}
